.birch-trunk{
    color: #F3ECD8;
}
.birch-leaves{
    color: #97AB17;
}

.smoking-jacket{
    color: #665473;
}

.off-black{
    color: #2B2F0E;
}

.autumn-orange{
    color: #F1B51E;
}

.betzuhoff-head{
    background-color: smoking-jacket;
    color: autumn-orange;
}

.betzuhoff-body{
    background-color: birch-trunk;
    color: off-black;
}